.loadMore {
  margin-top: 3rem;

  button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--pink-500);
    font-weight: 600;
    font-size:1.125rem;
    transition: filter 0.5s;

    &:hover {
      filter: brightness(0.7);
    }
  }

}
